body {
	overflow-x: hidden;
}

#selectandbutton {

    position: absolute;
    top: -11px;
	left: 4px;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
	right: 0px;
    background-color: #EEEEFF;
    color: black;
    text-align: center;
    height: 60px;
    line-height: 50px;
	margin: auto;

	padding: 0px;
	border: 8px solid white;
    border-radius: 20px;
}

#info {
	background-color: #EEEEFF;
	position: absolute;
	top: 69px;
	height: 70px;
	left:0px;
	right: 0px;
	border: 8px solid white;
    border-radius: 20px;
}

#left {
	background-color: #EEEEFF;
	position: absolute;
	overflow-y: auto;
	width: 191px;
	top: 148px;
	bottom: 0px;
	left: 0px;
	border: 8px solid white;
    border-radius: 20px;
	
}

#right {
	background-color: #EEEEFF;
	position: absolute;
	overflow-y: auto;
	left: 206px;
	top: 148px;
	bottom: 0px;
	right: 0px;
	border: 8px solid white;
    border-radius: 20px;
}

#pokemonbyranking {	
    margin-bottom: 6px;
    margin-top: 4px;	
    margin-left: 6px;
}

#leftcontent {
	
	position: absolute;
	left: 3px;
	top: 10px;
}

#rightcontent{
	position: absolute;
	left: 10px;
	top: 10px;
}

#monsinfo {
}

#table {
}

#credits {
	position: absolute;
	top: 92%;
	width: 98%;
	text-align: right;
	font-size: 12px;
	visibility: hidden;
}

.button{
	border: 1px solid #CCCCFF;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.button:hover { 
	background-color: #CCCCFF;
}

.tab{
	border: 1px solid #CCCCFF;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-right: 20px;
	text-align: center;
	float: left;
}

.tab:hover { 
	background-color: #CCCCFF;
}
