body {
	overflow-x: hidden;
	font-family: sans-serif;
	font-size: 17px;
}

#selectandbutton {

    position: absolute;
    top: -11px;
	left: 4px;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
	right: 0px;
    background-color: #CCCCFF;
    color: black;
    text-align: center;
    height: 62px;
    line-height: 50px;
	margin: auto;
	padding: 0px;
	border: 8px solid white;
    border-radius: 20px;
}

#headertext {	
    position: absolute;
    top: -15px;
    text-align: center;
	width: 100%;
}

#info {
	background-color: #EEEEFF;
	position: absolute;
	top: 69px;
	height: 70px;
	left:0px;
	right: 0px;
	border: 8px solid white;
    border-radius: 20px;
}

#left {
	background-color: #EEEEFF;
	position: absolute;
	overflow-y: auto;
	width: 231px;
	top: 148px;
	bottom: 0px;
	left: 0px;
	border: 8px solid white;
    border-radius: 20px;
	
}

#right {
	background-color: #EEEEFF;
	position: absolute;
	overflow-y: auto;
	left: 246px;
	top: 148px;
	bottom: 0px;
	right: 0px;
	border: 8px solid white;
    border-radius: 20px;
}

#pokemonbyranking {	
    background-color: #CCCCFF;
    color: black;
    margin-bottom: 6px;
    margin-top: 4px;	
    margin-left: 2px;
	border: 2px solid #CCCCFF;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 4px;
	border-bottom-width: 4px;
    border-radius: 2px;
}
#border {	
    margin-bottom: 6px;
    margin-top: 4px;	
    margin-left: 4px;
	border: 1px solid #CCCCFF;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
}

#leftcontent {
	
	position: absolute;
	left: 3px;
	top: 10px;
}

#rightcontent{
	position: absolute;
	left: 10px;
	top: 10px;
}

#monsinfo {
}

#table {
}

#tabs{
    background-color: #CCCCFF;
    color: black;
    margin-bottom: 6px;
    margin-top: 4px;	
    margin-left: 2px;
	border: 2px solid #CCCCFF;
	border-left-width: 5px;
	border-right-width: 2px;
	border-top-width: 4px;
	border-bottom-width: 4px;
    border-radius: 2px;
	left: 0px;
	right: 0px;
	width: 100%;
}

#credits {
	position: absolute;
	top: 92%;
	width: 98%;
	text-align: right;
	font-size: 12px;
	visibility: hidden;
}

#tabnamespan {
	margin-left: 3px;
	background-color: #CCCCFF; 
    padding: 4px 20px;
    border: none;
    color: black;
	font-family: sans-serif;
	font-size: 17px;
}

button {
	background-color: #CCCCFF; 
    padding: 0px 20px;
    border: none;
    color: black;
	font-family: sans-serif;
	font-size: 17px;
}

.button{
	border: 1px solid #CCCCFF;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.button:hover { 
	background-color: #CCCCFF;
    margin-bottom: 5px;
    margin-top: 4px;	
    margin-left: 2px;
	border: 2px solid #CCCCFF;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 0px;	
	border-bottom-width: 0px;
    border-radius: 2px;
}

.clickedbutton {
	background-color: #CCCCFF;
    margin-bottom: 5px;
    margin-top: 4px;	
    margin-left: 2px;
	border: 2px solid #CCCCFF;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 0px;	
	border-bottom-width: 0px;
    border-radius: 2px;
}

.tab{
	border: 1px solid #CCCCFF;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-right: 20px;
	text-align: center;
	float: left;
}

.tab:hover { 
	background-color: #CCCCFF;
}
